@import 'tailwindcss';
@import 'tw-animate-css';

/* Use dark mode follow class `.dark` for Tailwind */
@custom-variant dark (&:is(.dark *));

/* Map token to Tailwind color/radius (Global) */
@theme {
    /* Fonts */
    --font-sans: var(--font-text); /* Body text */
    --font-title: var(--font-title); /* Heading */
    --font-accent: var(--font-accent); /* Tagline (Emphasize) */

    /* Colors */
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    /* Radius */
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

/* Light mode (Default) */
:root {
    /* Primary */
    --primary: #ff0000;
    --primary-foreground: #ffffff;

    /* Secondary */
    --secondary: #737373;
    --secondary-foreground: #f5f5f5;

    /* UI base */
    --background: #ffffff;
    --foreground: #212121;

    /* Borders/Input/Ring */
    --border: #737373;
    --input: #f1f1f1;
    --ring: #737373;

    /* States */
    --success: #0acb5b;
    --warning: #ffb50a;
    --destructive: #f32424;
    --info: #00a9ff;

    /* Muted */
    --muted: #f4f4f5;
    --muted-foreground: #666666;

    /* Radius */
    --radius: 12px;
}

/* Dark mode (Access by add class `.dark` into <html> or <body>) */
.dark {
    /* Primary */
    --primary: #ff0000;
    --primary-foreground: #ffffff;

    /* Secondary */
    --secondary: #2b2b2b;
    --secondary-foreground: #ededed;

    /* UI base */
    --background: #0a0a0a;
    --foreground: #e6e6e6;

    /* Borders/Input/Ring */
    --border: #262626;
    --input: #141414;
    --ring: #3f3f46;

    /* States */
    --success: #0acb5b;
    --warning: #ffb50a;
    --destructive: #f32424;
    --info: #00a9ff;

    /* Muted */
    --muted: #171717;
    --muted-foreground: #9ca3af;

    /* Radius */
    --radius: 12px;
}

/* Theme by Broswer/OS system */

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
